.awesome_page {
    padding-top: 110px;
}
.awesome_header_text {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.awesome_header_text h2 {
    text-transform: uppercase;
    font-family: 'Raleway';
    display: block;
}
.awesome_header_text h2:after {
    display: block;
    content:" ";
    width: 63px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
}
.awesome_icons {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 105px;
    grid-column-gap: 50px;
}
.awesome_block {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 30px;
}
.awesome_page p {
    opacity: .6;
}