.customers_header {
    padding-top: 110px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.customers_header h2 {
    display: block;
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}
.customers_header h2:after {
    display: block;
    content: " ";
    width: 63px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
    
}
.customers_header p{
    display: block;
    opacity: .6;
    padding-bottom:58px;
}
/* Customers content */
.customers_list {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding-bottom: 100px;
}
.customers_content_text {
    width: 275px;
    height: 130px;
    background-image: url(/img/customers/1.png);
    margin-bottom: 10px;
}
.customers_content_text p {
    opacity: .7;
}
.customers_content_description {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.description {
    margin-left: 15px;
}
.description p {
    padding-top: 10px;
    opacity: .7;
}