@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* { 
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1105px;
    margin: 0 auto;
    font-family: 'Raleway';
}
